

<div class="profile-container">
    <div class="header">
        <div class="header-content">
                <h2 class="comeback inactive underlineHover" [routerLink]="['/home']">
                    COMEBACK
                </h2>
            <h1>QUIEN SOY?</h1>
        </div>
    </div>
    <div class="profile-content">
        <div class="profile-image">
            <img src="img/fotoPropia.jpg"/>
        </div>
        <div class="profile-details" >
            <h2>Datos Personales</h2>
            <p><b>Nombre:</b>Agustin Teira</p> 
            <p><b>Email:</b> agustin.g.teira&#64;gmail.com</p>
            <p><b>Materia:</b> Laboratorio IV - 2024 2C</p>
        </div>
        <div class="profile-description">
            <h2>Descripción del juego</h2>
            <p>El WORDLE es el famosisimo juego del NYT, en el que tenes que adivinar una palabra
                en 6 intentos posibles. Al probar una palabra, las casillas de las letras se van 
                a cambiar a un color, gris si esa letra NO esta en la palabra, amarillo si esta
                letra ESTA en la palabra, pero NO en esa ubicacion, y VERDE, si esa letra ESTA 
                en la palabra, y EN ESA UBICACION.
            </p>
        </div>
    </div>
    
</div>
