<div class="profile-container">
    <div class="header">
        <h1>QUIEN SOY?</h1>
    </div>
    <div class="profile-content">
        <div class="profile-image">
            <img src="../../../assets/img/fotoPropia.jpg"/>
        </div>
        <div class="profile-details" >
            <h2>Datos Personales</h2>
            <p><b>Nombre:</b>Agustin Teira</p>
            <p><b>Email:</b> agustin.g.teira&#64;gmail.com</p>
            <p><b>Materia:</b> Laboratorio IV - 2024 2C</p>
        </div>
        <div class="profile-description">
            <h2>Descripción del juego</h2>
            <p>Es un juego que.......</p>
        </div>
    </div>
    
</div>
