<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">




<div class="container">
    <div class="header p-3">
        <div class="header-content">
            <div class="date-time">
                {{ horaActual }}
            </div>
            <h1>Sala de juegos</h1>
            <div class="user-name ">
                <div *ngIf="userLoggedIn" class ="p-1">
                    <p>Hola, {{ userName }}</p>
                    <button  class="btn btn-primary me-2" (click)="logout()">
                        Cerrar sesión
                    </button>
                    <button class="btn btn-secondary" (click)="abrirChat()">
                        Chat
                    </button>
                </div>
                <button class="btn btn-primary" *ngIf="!userLoggedIn" (click)="goToLogin()">
                    Loguearse
                </button>
            </div>
        </div>
    </div>

    <div class="grid-general" [ngClass]="{'one-column': !chatVisible, 'two-columns': chatVisible}">
        <div class="grid-items fadeInDown">
            <div class="grid-item fadeIn first" (click)="navigateTo('juegos/ahorcado')">Ahorcado</div>
            <div class="grid-item fadeIn second" (click)="navigateTo('juegos/mayorMenor')">Mayor o Menor</div>
            <div class="grid-item fadeIn third" (click)="navigateTo('juegos/preguntados')">Preguntados</div>
            <div class="grid-item fadeIn fourth" (click)="navigateTo('juegos/wordle')">Wordle</div>
            <div class="grid-item fadeIn fourth" (click)="navigateTo('quien-soy')">QUIEN SOY?</div>
            <div class="grid-item fadeIn fourth" (click)="navigateTo('encuesta')">Encuesta</div>
        </div>

        <div class="chat-container" *ngIf="chatVisible">
            <div class="chat-header">
                <button class="btn btn-secondary" (click)="abrirChat()">Cerrar</button>
            </div>
            <div class="chat-content">
                <!-- Chat -->
                <div class="chat-messages" #scrollMe>
                    <ng-container *ngFor="let mensaje of mensajes; let i = index">
                        <div class="card-mensaje">
                            <div *ngIf="mensaje.Nombre == userName" class="mensaje derecha">
                                <p> {{mensaje.Mensaje}} </p>
                                <span class="hora">{{ mensaje.Fecha }}</span>
                            </div>
                            <div *ngIf="mensaje.Nombre != userName" class="mensaje izquierda">
                                <p > <b>{{mensaje.Nombre}}</b>: {{mensaje.Mensaje}}</p>
                                <span class="hora">{{ mensaje.Fecha }}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <!--Enviar mensaje -->
                <form class="chat-form">
                    <input type="text" class="form-control" placeholder="Mensaje" name="mensajePlaceHolder" [(ngModel)]="mensajePlaceHolder"> <!-- [(ngModel)]="correo"-->
                    <button class="send-button" (click)="enviarMensaje(mensajePlaceHolder)">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    
</div>
