@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC STYLES */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0c0c0c;
    font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #012442;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: "Poppins", sans-serif;
}

.grid-general {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    transition: grid-template-columns 0.5s ease;
}

.grid-items-container {
    display: grid;
    gap: 10px;
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.grid-item {
    background-color: #012442;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    padding: 50px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}

.grid-item:hover {
    background-color: #081220;
    transform: scale(1.01);
}

.container {
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
}

.header-content {
    position: relative;
    text-align: center;
}

.user-name {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ffffff;
}

.date-time {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ffffff;
}

/*========================================================chat===============================================*/

.chat-content {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    flex-grow: 1;
    overflow-y: hidden;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 80vh; 
}

.chat-messages {
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px; 
    scrollbar-width: thin; 
    scrollbar-color: #012442 #ffffff; 
}


.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #012442; 
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-track {
    background-color: #ffffff;
}


.mensaje {
    padding: 10px 10px 1px 10px;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
    margin: 10px;
    border: 1px solid #ccc; 
    position: relative; 
}

.derecha {
    margin-left: auto; 
    background-color: #012442;
    color: #ffffff;
}

.izquierda {
    background-color: #494949;
    color: #ffffff;
}

.hora {
    display: block;
    font-size: 0.75rem; 
    color: rgba(255, 255, 255, 0.6); 
    position: absolute;
    bottom: 5px; 
    right: 10px; 
}


.form-container {
    display: flex;
    flex-grow: 1;
    margin-top: auto; 
}

.chat-form {
    width: 100%;
    display: flex;
}

.form-control {
    flex-grow: 1; 
    background-color: #f0f0f0; 
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #ccc; 
    padding: 10px;
    color: #000; 
}

.send-button {
    background-color: #25d366; 
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 0 20px 20px 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button i {
    font-size: 16px; 
}
.send-button:hover {
    background-color: #1ebe55;
}
/*=======================================================================================================*/

.one-column {
    grid-template-columns: repeat(1, 1fr);
}

.two-columns {
    grid-template-columns: repeat(2, 1fr);
}


/*==========================ANIMACIONES====================*/
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}
@keyframes fadeInDown {
0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

    .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
    }

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
