<header class="header p-3">
    <div>
        <h1>Sala de juegos</h1>
    </div>
</header>

<div class="container">
    <div class ="grid-general">
        <div class="grid-items">
            <div class="grid-item" (click)="navigateTo('component2')">Ahorcado</div>
            <div class="grid-item" (click)="navigateTo('component3')">Mayor o Menor</div>
            <div class="grid-item" (click)="navigateTo('component4')">Preguntados</div>
            <div class="grid-item" (click)="navigateTo('component4')">Pasapalabra</div>
            <div class="grid-item" (click)="navigateTo('quien-soy')">QUIEN SOY?</div>
        </div>
        <div>Aca iria una desc del juego cuando se pasa el mouse por encima</div>
    </div>
    
</div>
