<div class="wordle-container">
    <div class="header">
        <div class="header-content">
                <h2 class="comeback inactive underlineHover" [routerLink]="['/home']">
                    COMEBACK
                </h2>
            <h1>WORDLE</h1>
            <button class="btn btn-primary puntuaciones" (click)="abrirPuntuaciones()">
              Puntuaciones
          </button>
        </div>
    </div>
  
    <div class="wordle-game card center mx-auto mb-4">
      <div *ngIf="mensaje" class="resultado">
        <p>{{ mensaje }}</p>
      </div>
  
      <!-- Muestra la palabra actual mientras se escribe -->
      <div class="palabra">
        <span *ngFor="let letra of palabraActual">{{ letra }}</span>
      </div>
  
      <!-- Muestra los intentos previos -->
      <div class="fila" *ngFor="let fila of intentos">
        <div class="letra" *ngFor="let letra of fila" [ngClass]="obtenerClaseLetra(letra)">
          {{ letra.letra }}
        </div>
      </div>

      <div *ngIf="mostrarModal" class="modal-overlay">
        <div class="modal-content">
          <h2>¡Juego Terminado!</h2>
          <p>{{ mensaje }}</p>
          <p>{{ mensajePuntaje }}</p>
          <button (click)="inicializarJuego()" class="btn">Reiniciar</button>
        </div>
      </div>

    </div>
    
    <div class="puntuador-container" *ngIf="mostrarTabla">
      <div class="puntuador-content">
          <h1>Puntuaciones</h1>
          <ng-container *ngFor="let puntuacion of topTres; let i = index">
              <div class="puntuacion-item">
                  <span class="puntuacion-usuario">{{ puntuacion.Usuario.toUpperCase() }} <br> {{ puntuacion.Puntaje }} puntos</span>
                  <span class="puntuacion-fecha">{{ puntuacion.Fecha }}</span>
              </div>
          </ng-container>
      </div>
  </div>
  </div>
  