<div class="mayor-menor-container">
    <div class="header">
        <div class="header-content">
                <h2 class="comeback inactive underlineHover" [routerLink]="['/home']">
                    COMEBACK
                </h2>
            <h1>QUIEN SOY?</h1>
        </div>
    </div>

    <div class="grid-container">
        <div>
        </div>
        
        <div class="card  mx-auto">
            <div class="carta-actual">
                <h3>Carta Actual</h3>
                <ng-container *ngIf="cargandoCarta; else mostrarCarta">
                    <p>Cargando carta...</p>
                  </ng-container>
                  
                  <!-- Mostrar la carta cuando ya no esté cargando -->
                  <ng-template #mostrarCarta>
                    <img [src]="imagenCartaActual" alt="Carta actual">
                  </ng-template>
              </div>
            
            <!--<div class="cartas">{{ cartaActual }}</div>-->
        
            <div class="opciones">
                <button (click)="compararCartas('mayor')" class="btn">Mayor</button>
                <button (click)="compararCartas('menor')" class="btn">Menor</button>
                
            </div>
        
            <p>{{ mensaje }}</p>
        </div>

        <div *ngIf="mostrarModal" class="modal-overlay">
          <div class="modal-content">
            <h2>¡Juego Terminado!</h2>
            <p>{{ mensaje }}</p>
            <button (click)="reiniciarJuego()" class="btn">Reiniciar</button>
          </div>
        </div>
    </div>
</div>
  