<div class="mayor-menor-container">
    <div class="header">
        <div class="header-content">
                <h2 class="comeback inactive underlineHover" [routerLink]="['/home']">
                    COMEBACK
                </h2>
            <h1>QUIEN SOY?</h1>
            <button class="btn btn-primary puntuaciones" (click)="abrirPuntuaciones()">
                Puntuaciones
            </button>
        </div>
    </div>

    <div class="grid-container">
        <div>
        </div>
        
        <div class="card  mx-auto">
            <div class="carta-actual">
                <h3>Carta Actual</h3>
                <ng-container *ngIf="cargandoCarta; else mostrarCarta">
                    <p>Cargando carta...</p>
                  </ng-container>
                  
                  <!-- Mostrar la carta cuando ya no esté cargando -->
                  <ng-template #mostrarCarta>
                    <img [src]="imagenCartaActual" alt="Carta actual">
                  </ng-template>
              </div>
            
            <!--<div class="cartas">{{ cartaActual }}</div>-->
        
            <div class="opciones">
                <button (click)="compararCartas('mayor')" class="btn">Mayor</button>
                <button (click)="compararCartas('menor')" class="btn">Menor</button>
                
            </div>
        
            <p>{{ mensaje }}</p>
        </div>

        <div class="puntuador-container" *ngIf="mostrarTabla">
            <div class="puntuador-content">
                <h1>Puntuaciones</h1>
                <ng-container *ngFor="let puntuacion of topTres; let i = index">
                    <div class="puntuacion-item">
                        <span class="puntuacion-usuario">{{ puntuacion.Usuario.toUpperCase() }} <br> {{ puntuacion.Puntaje }} puntos</span>
                        <span class="puntuacion-fecha">{{ puntuacion.Fecha }}</span>
                    </div>
                </ng-container>
            </div>
        </div>
        


    </div>

    <div *ngIf="mostrarModal" class="modal-overlay">
        <div class="modal-content">
          <h2>¡Juego Terminado!</h2>
          <p>{{ mensaje }}</p>
          <button (click)="reiniciarJuego()" class="btn">Reiniciar</button>
        </div>
      </div>
</div>
  